.cameras-container {
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.camera, .add-item {
  width: 25%;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .camera, .add-item {
    width: 33%;
  }
}

@media only screen and (max-width: 900px) {
  .camera, .add-item {
    width: 50%;
  }

  @media only screen and (max-width: 500px) {
    .camera, .add-item {
      width: 100%;
    }
  }
}


